.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  font-family: sans-serif;
}
.main h1{
  margin-bottom: 50px;
}
.card{
  width: 70%;
  box-sizing: border-box;
  box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.5);
  padding: 40px 40px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  user-select: none;
  display: block;
}
.card P{
  text-align: justify;
  display: block;
}
.card .info{
  display: flex;
  margin: 5px 0;
}
.card .date{
  color: #fff;
  background-color: #00d2d3;
  padding: 6px 8px;
  margin: 5px 0;
  border-radius: 30px;
  /* display: block; */
  /* width: 220px; */
  text-align: center;
  margin-right: 5px;
}
.card .author{
  color: #fff;
  background-color: #EA2027;
  padding: 6px 8px;
  margin: 5px 0;
  border-radius: 30px;
  /* display: block; */
  /* width: 220px; */
  text-align: center;
  margin-right: 5px;
}
.card h2{
  font-size: 20px;
}
.card a{
  padding: 12px 23px;
  border-radius: 30px;
  margin: 10px;
  display: block;
  color: #fff;
  background-color: #000;
  transition: all 0.2s linear;
  font-weight: 900;
  border: 3px solid #000;
  width: 180px;
  text-align: center;
}
.card a:hover{
  color: #000;
  background-color: #fff;
}

.nav{
  width: 100vw;
  font-family: sans-serif;
  background-color: #222f3e;
  color: #fff;
}

.nav ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.nav ul li{
  padding: 20px 28px;
  text-align: center;
  transition: all 0.1s linear;
}
.nav ul li:hover{
  background-color: #00d2d3;
}